@font-face {
    font-family: 'bf-regular';
    src: url(./fonts/bf-text-regular.ttf);
}

@font-face {
    font-family: 'bf-headline';
    src: url(./fonts/bf-headline-narrow-bold.ttf) format('opentype');
}

@font-face {
    font-family: 'bf-modernista';
    src: url(./fonts/BF_Modernista-Regular.ttf) format('opentype');
}

@font-face {
    font-family: 'bf-purista-bold';
    src: url(./fonts/Purista\ Bold.otf) format('opentype');
}

@font-face {
    font-family: 'bf-purista';
    src: url(./fonts/Purista\ Medium.otf) format('opentype');
}

@font-face {
    font-family: 'bf-head';
    src: url(./fonts/BFHead-Regular-2ae49698.ttf) format('opentype');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
    scroll-padding-top: 9.7%;
}

body {
    background: url(./media/img/background.png) no-repeat fixed;
    background-size: cover;
    overflow-x: hidden;
}

body.theme-main {
    --border-color: #ff3c04;
    --general-color: #ff3c04;
    --hover-color: #ff3c04;
    --h1-font-family: bf-headline;
    --p-font-family: bf-regular;
}

body.theme-bf2042 {
    background: url(./media/img/bf2042/background.jpg) no-repeat fixed;
    background-size: cover;
    --border-color: #26ffdf;
    --general-color: #26ffdf;
    --hover-color: #26ffdf;
    --h1-font-family: bf-modernista;
    --p-font-family: bf-purista;
}

body.theme-bf5 {
    background: url(./media/img/bf5/background.png) no-repeat fixed;
    background-size: cover;
    --border-color: #33aae5;
    --general-color: #33aae5;
    --hover-color: #33aae5;
    --h1-font-family: bf-head;
    --p-font-family: bf-purista;
}

body.theme-bf1 {
    background: url(./media/img/bf1/background.jpg) no-repeat fixed;
    background-size: cover;
    --border-color: #8d2216;
    --general-color: #8d2216;
    --hover-color: #8d2216;
    --h1-font-family: bf-head;
    --p-font-family: bf-purista;
}

body.theme-bf4 {
    background: url(./media/img/bf4/background.jpg) no-repeat fixed;
    background-size: cover;
    --border-color: #5f7c82;
    --general-color: #5f7c82;
    --hover-color: #5f7c82;
    --h1-font-family: bf-purista-bold;
    --p-font-family: bf-purista;
}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: var(--h1-font-family);
    font-size: 4rem;
    color: white;
    letter-spacing: 2px;
}

p {
    font-family: var(--p-font-family);
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    padding: 0.5% 1%;
    position: fixed;
    z-index: 100;
    border-bottom: var(--border-color) 3px solid;
    animation: borderFadeIn 2s ease-in;
}

.logo {
    width: 15%;
    display: flex;
    align-items: center;
}

#datetime {
    font-family: bf-headline;
    color: var(--general-color);
    font-size: 2.2rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    animation: datetimeFadeIn 2s ease-in;
}

@keyframes datetimeFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    font-family: bf-headline;
    font-size: 2.2rem;
    transition: all 150ms ease-in-out;
}

.nav-links a:hover {
    color: var(--hover-color);
}

.nav-links.active {
    padding: 5% 0 5% 10%;
    top: 103%;
}

.nav-links.active a {
    font-size: 1.8rem;
}

#dclink:hover {
    color: #7289da;
}

.leftslide {
    animation: leftslideIn 1.5s 50ms ease-in-out forwards;
}

.rightslide {
    animation: rightslideIn 1.5s 50ms ease-in-out;
}

@keyframes leftslideIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes rightslideIn {
    0% {
        transform: translateX(120%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }

}

.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    flex-direction: column;
    top: 100%;
    left: -50%;
    padding: 0 50%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
}

.dropdown-content a {
    color: white;
    text-decoration: none;
    display: block;
    white-space: nowrap;
    transition: all 150ms ease-in-out;
    font-family: bf-regular;
    font-size: 1.2rem;
    font-weight: normal;
    margin: 15% 0;
}

.dropdown-content a:hover {
    color: var(--hover-color);
}

/* Show dropdown on hover (for desktop) */
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown>a::after {
    content: " ▼";
    font-size: 10px;
    transition: all 150ms ease-in-out;
}

.dropdown:hover>a::after {
    color: var(--hover-color);
}

header {
    width: 100%;
    height: 90vh;
    position: relative;
    overflow: hidden;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Centers the content vertically */
    text-align: center;
    border-bottom: --border-color 3px solid;
    scroll-snap-align: start;
    animation: borderFadeIn 2s ease-in;
}

video {
    width: 100%;
    object-fit: cover;
}

#header-video {
    filter: opacity(0.65);
    z-index: 1;
}

#header-intro {
    color: white;
    font-family: bf-regular;
    font-size: 1.5rem;
    z-index: 2;
    width: 60%;
    position: absolute;
    animation: headerintroFadeIn 2.5s ease-in
}

.homepage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.homepageItem {
    padding: 10% 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.homepageText,
.homepageText1 {
    font-family: bf-regular;
    font-size: 1.5rem;
    color: white;
    height: 100%;
    background-color: #000;
    padding: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.lockerButton {
    font-family: bf-headline;
    font-size: 3em;
    border: 4px solid white;
    background-color: #ff3c04;
    padding: 2% 3%;
    width: 40%;
    cursor: pointer;
    transition: all 150ms ease-in;
}

.lockerButton:hover {
    background-color: #ff3c04;
    color: white;
    border: 4px solid #ff3c04;
}

.homepageImg {
    background: url(./media/img/weaponbackground.jpg) no-repeat center center;
    background-size: cover;
    position: relative;
}

.homepageImg img {
    filter: drop-shadow(5px 5px 10px rgb(255, 255, 255, 0.5))
}

.vehicleshot {
    position: absolute;
    left: 68%;
    top: 20%;
}

.signup {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    margin: 10% auto;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.3);
}

.signupText {
    font-family: bf-regular;
    font-size: 1.5rem;
    color: white;
    height: 100%;
    padding: 15% 5%;
    text-align: center;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 5%;
}

.form input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    font-family: bf-headline;
    font-size: 1.5rem;
    border-radius: 5px;
    background-color: #fff;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.submitButton {
    font-family: bf-headline;
    font-size: 3em;
    border: 4px solid white;
    background-color: white;
    color: black;
    padding: 2% 3%;
    width: 80%;
    cursor: pointer;
    text-align: center;
    transition: all 150ms ease-in;
}

.submitButton:hover {
    background-color: #ff3c04;
    color: white;
    border: 4px solid #ff3c04;
}

footer {
    background-color: #252525;
    color: #ccc;
    font-size: 0.9rem;
    font-family: bf-regular;
    padding-top: 2%;
}

.footer-top {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.footer-nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1200px;
}

.footer-section,
.footer-socials {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-section h3,
.footer-socials h3 {
    margin-bottom: 3%;
    font-size: 2rem;
    color: white;
    font-family: bf-headline;
    letter-spacing: 3px;
}

.footer-section a,
.footer-socials a {
    margin: 3% 0;
    text-decoration: none;
    color: #aaa;
    transition: all 100ms ease-in-out;
}

.footer-section a:hover,
.footer-socials a:hover {
    color: var(--hover-color);
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons svg {
    width: 24px;
    height: 24px;
    filter: brightness(0.8);
    transition: filter 0.3s;
}

.social-icons svg:hover {
    filter: brightness(1);
}

.footer-middle {
    border-top: 1px solid #444;
    padding-top: 2%;
    text-align: center;
    margin-top: 40px;
    display: flex;
}

.studios-logo {
    width: 50%;
    margin-right: 40%;
}

.footer-disclaimer {
    font-size: 0.8rem;
    color: #777;
    max-width: 600px;
    text-transform: uppercase;
    margin-top: 2%;
    text-align: left;
}

.rating-logo {
    margin-left: 10%;
    width: 100%;
}

.footer-bottom {
    width: 100%;
    background-color: #161616;
    border-top: 1px solid #333;
    padding: 2% 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ea-section {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
}

.ea-logo {
    width: 50px;
}

.ea-links {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.ea-links a {
    text-decoration: none;
    color: #aaa;
}

.ea-links a:hover {
    color: #fff;
}

.footer-legal {
    margin: 20px 0;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-legal a {
    text-decoration: none;
    color: #aaa;
    font-size: 12px;
}

.footer-legal a:hover {
    color: #fff;
}

.footer-locale {
    display: flex;
    gap: 30px;
    margin: 20px 0;
}

.locale-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.locale-item label {
    margin-bottom: 5px;
    font-size: 12px;
}

select {
    background-color: #222;
    color: #ccc;
    border: 1px solid #555;
    padding: 5px 10px;
}

.footer-copyright {
    font-size: 12px;
    color: #666;
    margin-top: 20px;
}

@keyframes headerintroFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes borderFadeIn {
    0% {
        border-color: transparent;
    }

    100% {
        border-color: var(--border-color);
    }
}

@media (max-width: 768px) {
    .logo {
        width: 30%;
        padding: 2%;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #000;
        position: absolute;
        top: 60px;
        left: 0;
        padding: 10px 0;
    }

    .nav-links.active {
        display: flex;
    }

    .dropdown-content a { 
        font-size: 1rem; /*THIS WONT CHANGE HELP ME OMFG.*/
    }

    #datetime {
        display: none;
    }

    .rightslide {
        animation: none;
    }

    .menu-toggle {
        display: block;
        color: white;
    }

    #header-intro {
        font-size: 1rem;
        width: 85%;
    }

    header {
        height: auto;
    }

    header video {
        width: 160%;
    }

    .homepage {
        grid-template-columns: 1fr;
    }

    .homepageText,
    .homepageText1 {
        font-size: 1.2rem;
    }

    #homepageImgResponsive {
        display: none;
    }

    .lockerButton {
        font-size: 1.5em;
    }

    .signup {
        width: 90%;
        grid-template-columns: 1fr;
    }

    .signupText {
        font-size: 1.2rem;
        padding: 10% 5%;
    }

    .form {
        width: 100%;
        padding: none;
        justify-content: center;
        align-items: center;
    }

    .footer-nav {
        flex-direction: column;
        align-items: center;
    }

    .footer-section,
    .footer-socials {
        align-items: center;
        margin-top: 20px;
    }

    .social-icons {
        gap: 20px;
    }

    .footer-middle {
        flex-direction: column;
        align-items: center;
        padding-top: 40px;
    }

    .studios-logo {
        width: 80%;
        margin-right: 0;
    }

    .footer-disclaimer {
        text-align: center;
        width: 90%;
        margin: 20px auto;
    }

    .ea-section {
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
    }
}