body.theme-main {
    --border-color: #ff3c04;
    --general-color: #ff3c04;
    --hover-color: #ff3c04;
    --h1-font-family: bf-headline;
    --p-font-family: bf-regular;
}

body {
    background: url(./media/img/labs/background.jpg) no-repeat center center fixed;
    background-size: cover;
}

.labsheader {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: none;
}

.labsheaderlogo {
    width: 30%;
    padding: 0 2%;
}

.labsheadercontent {
    width: 70%;
    height: 100%;
    padding-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.labsheadermedia {
    overflow: none;
}

.labsheadermedia img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.labsheadertext {
    text-align: center;
    padding: 3%;
    font-size: 1.5rem;
    background: rgba(0, 0, 0, 0.5);
    line-height: 1.3;
    color: white;
}
.labsheadertext h1 {
    font-size: 3.5rem;
}

.labsbutton-simple {
    width: fit-content;
    margin: 2% auto;
    padding: 2% 3%;
    background: var(--general-color);
    font-family: var(--h1-font-family);
    font-size: 3rem;
    color: white;
    border: 3px solid white;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.labsbutton-simple:hover {
    border: 3px solid var(--general-color);
}

@media (max-width: 1250px) {
    .labsheader {
        flex-direction: column;
        padding-top: 10%;
    }

    .labsheaderlogo {
        width: 40%;
        padding: 0;
    }

    .labsheadercontent {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 768px) {
    .labsheader {
        flex-direction: column;
        padding-top: 10%;
    }

     .labsheaderlogo {
        width: 65%;
        padding: 15% 0;
    }
    .labsheadertext {
        font-size: 1.2rem;
    }
    .labsheadertext h1 {
        font-size: 2.5rem;
    }

    .labsheadercontent {
        width: 100%;
        height: 100%;
        grid-template-columns: 1fr;
    }

    .lht2 {
        order: 2;
    }
}