@font-face {
    font-family: 'bf-regular';
    src: url(./fonts/bf-text-regular.ttf);
}

@font-face {
    font-family: 'bf-headline';
    src: url(./fonts/bf-headline-narrow-bold.ttf) format('opentype');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
    scroll-padding-top: 9.7%;
}

body {
    background: url(./media/img/background.png) no-repeat fixed;
    background-size: cover;
    overflow-x: hidden;
}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    padding: 0.5% 1%;
    position: fixed;
    z-index: 100;
    border-bottom: #ff3c04 3px solid;
    animation: borderFadeIn 2s ease-in;
}

.logo {
    width: 15%;
    display: flex;
    align-items: center;
}

#datetime {
    font-family: bf-headline;
    color: #ff3c04;
    font-size: 2.2rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    animation: datetimeFadeIn 2s ease-in;
}

@keyframes datetimeFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    font-family: bf-headline;
    font-size: 2.2rem;
}

.leftslide {
    animation: leftslideIn 1.5s 50ms ease-in-out forwards;
}

.rightslide {
    animation: rightslideIn 1.5s 50ms ease-in-out;
}

@keyframes leftslideIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes rightslideIn {
    0% {
        transform: translateX(120%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
    
}


.dropdown::after {
    content: " ▼";
    font-size: 10px;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

header {
    width: 100%;
    height: 90vh;
    position: relative;
    overflow: hidden;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center; /* Centers the content vertically */
    text-align: center;
    border-bottom: #ff3c04 3px solid;
    scroll-snap-align: start;
    animation: borderFadeIn 2s ease-in;
}

video {
    width: 100%;
    object-fit: cover;    
}

#header-video {
    filter: opacity(0.65);
    z-index: 1;
}

#header-intro {
    color: white;
    font-family: bf-regular;
    font-size: 1.5rem;
    z-index: 2;
    width: 60%;
    position: absolute;
    animation: headerintroFadeIn 2.5s ease-in
}

.homepage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    scroll-snap-align: start;
}

.homepageItem {
    padding: 10% 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.homepageText, .homepageText1 {
    font-family: bf-regular;
    font-size: 1.5rem;
    color: white;
    height: 100%;
    background-color: #000;
    padding: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.lockerButton {
    font-family: bf-headline;
    font-size: 3em;
    border: 4px solid white;
    background-color: #ff3c04;
    padding: 2% 3%;
    width: 40%;
    cursor: pointer;
    transition: all 150ms ease-in;
}

.lockerButton:hover {
    background-color: #ff3c04;
    color: white;
    border: 4px solid #ff3c04;
}

.homepageImg {
    background: url(./media/img/weaponbackground.jpg) no-repeat center center;
    background-size: cover;
    position: relative;
}

.homepageImg img {
    filter: drop-shadow(5px 5px 10px rgb(255, 255, 255, 0.5))

}

.vehicleshot {
    position: absolute;
    left: 68%;
    top: 20%;
}

@keyframes headerintroFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes borderFadeIn {
    0% {
        border-color: transparent;
    }
    100% {
        border-color: #ff3c04;
    }
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #000;
        position: absolute;
        top: 60px;
        left: 0;
        padding: 10px 0;
    }

    .nav-links.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
        color: white;
    }

    #header-intro {
        font-size: 0.8rem; /* Reduce the font size for smaller screens */
        width: 90%; /* Allow more width for smaller devices */
    }

    header {
        height: 60vh; /* Reduce the header height on smaller screens */
    }
}