body.theme-main {
    --border-color: #ff3c04;
    --general-color: #ff3c04;
    --hover-color: #ff3c04;
    --h1-font-family: bf-headline;
    --p-font-family: bf-regular;
    font-family: bf-regular;
}

body.theme-bf2042 {
    background: url(./media/img/bf2042/background.jpg) no-repeat fixed;
    background-size: cover;
    --border-color: #26ffdf;
    --general-color: #26ffdf;
    --hover-color: #26ffdf;
    --h1-font-family: bf-modernista;
    --p-font-family: bf-purista;
    font-family: bf-purista;
}

body.theme-bf5 {
    background: url(./media/img/bf5/background.png) no-repeat fixed;
    background-size: cover;
    --border-color: #33aae5;
    --general-color: #33aae5;
    --hover-color: #33aae5;
    --h1-font-family: bf-head;
    --p-font-family: bf-purista;
    font-family: bf-purista;
}

body.theme-bf1 {
    background: url(./media/img/bf1/background.jpg) no-repeat fixed;
    background-size: cover;
    --border-color: #8d2216;
    --general-color: #8d2216;
    --hover-color: #8d2216;
    --h1-font-family: bf-head;
    --p-font-family: bf-purista;
    font-family: bf-purista;
}

body.theme-bf4 {
    background: url(./media/img/bf4/background.jpg) no-repeat fixed;
    background-size: cover;
    --border-color: #5f7c82;
    --general-color: #5f7c82;
    --hover-color: #5f7c82;
    --h1-font-family: bf-purista-bold;
    --p-font-family: bf-purista;
    font-family: bf-purista;
}

.bfheader {
    width: 100%;
    height: 100vh;
    background-image: url(./../media/img/bf2042/bf2042header.jpg);
    background: no-repeat center center;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10% 2% 5% 2%;
    z-index: 1;
}

.imgheader {
    width: 40%;
    filter: drop-shadow(10px 10px 25px rgb(0, 0, 0, 0.8)) drop-shadow(10px 10px 15px rgb(0, 0, 0, 0.8));

}

.cardheader {
    width: 35%;
    height: 100%;
    position: relative;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-size: cover;
    color: white;
    text-align: left;
    z-index: 2;
}

.cardcontent {
    padding: 5%;
    font-size: 1.5em;
}

.cardcontent h1 {
    font-size: 3rem;
}

.purchaseheader {
    width: 100%;
}

.purchasebuttonheader {
    width: fit-content;
    margin: 8% 3%;
    text-align: center;
    background-color: var(--general-color);
    color: black;
    font-size: 2.5rem;
    padding: 3% 6%;
    cursor: pointer;
    transition: all 150ms ease-in-out;
    display: flex;
    align-items: center;
    gap: 10px;
}

.purchasebuttonheader img {
    width: 46px;
    transition: all 150ms ease-in-out;
}

.purchasebuttonheader:hover {
    color: white;
    transform: scale(0.95);
}

.purchasebuttonheader:hover img {
    filter: invert(1);
    
}

.availability {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
}

.availability div {
    display: flex;
    align-items: center;
    gap: 2px;
}

@media (max-width: 1250px) {
    .cardheader {
        width: 45%;
    }

    .cardcontent h1 {
        font-size: 2.2rem;
    }

    .cardcontent {
        font-size: 1.5rem;
    }
    
    .purchasebuttonheader {
        font-size: 2rem;
    }

    .availability {
        font-size: 1.2rem;
    }
    
}

@media (max-width: 1000px) {
    .bfheader {
        height: auto;
        flex-direction: column;
        padding: 10% 2%;
    }

    .imgheader {
        width: 80%;
        margin: 3% 0;
    }

    .cardheader {
        width: 100%;
    }

    .cardcontent h1 {
        font-size: 1.8rem;
    }

    .cardcontent {
        font-size: 1rem;
    }
    
    .purchasebuttonheader {
        font-size: 1.3rem;
        padding: 2% 4%;
    }

    .availability {
        font-size: 1rem;
    }
    
}