body.theme-store {
    background: url(./../media/img/store/background.jpeg) no-repeat fixed;
    background-size: cover;
    --border-color: #ff3c04;
    --general-color: #ff3c04;
    --hover-color: #ff3c04;
    --h1-font-family: bf-headline;
    --p-font-family: bf-regular;
}

body.theme-locker {
    background: url(./../media/img/locker/background.jpg) no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    --border-color: #ff3c04;
    --general-color: #ff3c04;
    --hover-color: #ff3c04;
    --h1-font-family: bf-headline;
    --p-font-family: bf-regular;
}

/* #region Store*/

/* #region Game Previews*/

h2 {
    font-family: var(--h1-font-family);
    font-size: 2.5rem;
    margin: 1.5% 0;
    filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.7));
}

.storescreen {
    width: 100%;
    height: 100vh;
    animation: blurFadeIn 1.5s 500ms ease-in-out forwards;
    display: grid;
    grid-template-columns: 70% 30%;
    padding-top: 5%;
}

.gamepreview {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.storecard {
    width: 80%;
    height: auto;
    margin: 2% auto;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    display: flex;
    padding: 1% 2%;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.poster {
    width: 100%;
    max-width: 300px;
    vertical-align: middle;
    object-fit: cover;
}

.postercontent {
    width: 100%;
    padding: 2%;
    color: white;
    flex: 1;
}

.postercontent p {
    font-size: 1rem;
}

.addtocart {
    width: fit-content;
    background-color: var(--general-color);
    font-family: bf-headline;
    font-size: 3rem;
    margin: 5%;
    padding: 2% 5%;
    border: 3px solid white;
    cursor: pointer;
    transition: all 150ms ease-in-out;
}

.addtocart:hover {
    border: 3px solid var(--hover-color);
}

img {
    width: 100%;
}

/* #endregion */

/* #region Order Preview*/

.orderpreview {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ordersummary {
    width: 95%;
    height: 97%;
    padding: 1% 2%;
}

.ordercard {
    width: 100%;
    height: 50%;
    max-height: 50%;
    margin: 2% auto;
    padding: 3%;
    overflow-y: scroll;
    border-bottom: var(--border-color) 3px solid;
}

.orderitem {
    width: 100%;
    height: auto;
    padding: 1% 0 0 1%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    margin-bottom: 3%;
}

.orderposter {
    width: 100%;
    max-width: 100px;
    vertical-align: middle;
    object-fit: cover;
}

.orderposter img {
    border-radius: 10px;
}

.ordercontent {
    width: 100%;
    padding: 2%;
    color: white;
    flex: 1;
    position: relative;
}

.ordercontent h1 {
    font-size: 3rem;
}

.removeOrderButton {
    font-family: bf-regular;
    position: absolute;
    color: white;
    font-size: 1rem;
    right: 5%;
    cursor: pointer;
    transition: all 150ms ease-in-out;
}

.removeOrderButton:hover {
    color: var(--hover-color);
    transform: scale(0.95);
}

.orderfinal {
    width: 100%;
}

.totalpricecontainer {
    display: flex;
    font-size: 2rem;
    align-items: center;
    font-family: bf-headline;
    justify-content: space-between;
    color: white;
}

.referral {
    display: flex;
    width: 60%;
    padding: 2%;
    font-size: 1.5rem;
    font-family: bf-headline;
    margin: 3% 1% 5% auto;
}

.placeorder {
    width: 100%;
    padding: 3%;
    color: white;
    background-color: var(--general-color);
    font-family: bf-headline;
    font-size: 4rem;
    border: 3px solid white;
    cursor: pointer;
    text-align: center;
    transition: all 150ms ease-in-out;
}

.placeorder:hover {
    border: 3px solid var(--hover-color);
}

/* #endregion */

@keyframes blurFadeIn {
    from {
        background: rgba(0, 0, 0, 0.0);
        backdrop-filter: blur(0px);
    }

    to {
        backdrop-filter: blur(3px);
        background: rgba(0, 0, 0, 0.6);
    }
}

#slidein {
    animation: posterSlideIn 2s ease-in-out forwards;
}

@keyframes posterSlideIn {
    from {
        transform: translateX(-1400px);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes orderButtonShake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

.orderbuttonshake {
    animation: orderButtonShake 0.5s;
}

/* #endregion */

/* #region Locker */
.lockercontainer {
    width: 100%;
    height: 100vh;
    animation: blurFadeIn 1.5s 500ms ease-in-out forwards;
}



/* #endregion */

/* #region Media Queries */

@media (max-width: 768px) {
    .storescreen {
        height: auto;
        grid-template-columns: 100%;
        padding-top: 15%;
    }

    .storecard {
        width: 90%;
        padding: 3% 2%;
    }

    .addtocart {
        margin: 0
    }
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb {
	background-color: var(--general-color);
}

/* #endregion */