body.theme-store {
    background: url(./../media/img/store/background.jpeg) no-repeat fixed;
    background-size: cover;
    --border-color: #ff3c04;
    --general-color: #ff3c04;
    --hover-color: #ff3c04;
    --h1-font-family: bf-headline;
    --p-font-family: bf-regular;
}

h2 {
    font-family: var(--h1-font-family);
    font-size: 2.5rem;
    margin: 1.5% 0;
    filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.7));
}

.storescreen {
    width: 100%;
    height: 100vh;
    animation: blurFadeIn 1.5s 500ms ease-in-out forwards;
    display: grid;
    grid-template-columns: 70% 30%;
    padding-top: 5%;
}

.gamepreview {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.orderpreview {
    width: 100%;
    height: 100%;
    background-color: rgb(97, 97, 97);
}

.storecard {
    width: 80%;
    height: auto;
    margin: 2% auto;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    display: grid;
    display: flex;
    padding: 1% 2%;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.poster {
    width: 100%;
    max-width: 300px;
    vertical-align: middle;
    object-fit: cover;
}

.postercontent {
    width: 100%;
    padding: 2%;
    color: white;

    flex: 1;
}

.postercontent p {
    font-size: 1rem;
}

.addtocart {
    width: fit-content;
    background-color: var(--general-color);
    font-family: bf-headline;
    font-size: 3rem;
    margin: 5%;
    padding: 2% 5%;
    border: 3px solid white;
    cursor: pointer;
    transition: all 150ms ease-in-out;
}

.addtocart:hover {
    border: 3px solid var(--hover-color);
}

img {
    width: 100%;
}

@keyframes blurFadeIn {
    from {
        background: rgba(0, 0, 0, 0.0);
        backdrop-filter: blur(0px);
    }

    to {
        backdrop-filter: blur(3px);
        background: rgba(0, 0, 0, 0.6);
    }
}

@media (max-width: 768px) {
    .storescreen {
        grid-template-columns: 100%;
        padding-top: 15%;
    }

    .storecard {
        width: 90%;
    }
}